/*==============================================
[Main stylesheet style.css]

Author:	WM_Team
Version:	1.1
Created:	26 Juin 2016
Last updated:	26 Juin 2016
Template:	Galaxy - Mobile Web APP Template
================================================*/
/*
[Table of Contents]

1. HOMEPAGE
2. LOGIN & REGISTRE & REMEMBER PASSWORD
3. GALLERY
4. BLOG
5. COMMENT
6. CONTACT
7. USERLIST
8. RIGHT PANEL

*/

/*===============================================*/
/*                COMMON CSS START               */
/*===============================================*/
body {
	font-family: 'opensans';
}
@font-face {
    font-family: 'opensans';
    src: url('../font/opensans.eot');
    src: url('../font/opensans.eot') format('embedded-opentype'),
         url('../font/opensans.woff2') format('woff2'),
         url('../font/opensans.woff') format('woff'),
         url('../font/opensans.ttf') format('truetype'),
         url('../font/opensans.svg#opensans') format('svg');
}
@font-face {
  font-family: 'MyriadProBoldCond';
  src: url('../font/MyriadPro-BoldCond.eot'); /* IE9 Compat Modes */
  src: url('../font/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/MyriadPro-BoldCond.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/MyriadPro-BoldCond.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/MyriadPro-BoldCond.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg'); /* Legacy iOS */
}

h1 {
	font-family: "MyriadProBoldCond";
	color: #001b45;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}
h2 {
	color: #001b45;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 25px;
}
.content-block {
    margin: 15px 0;
}
.list-block {
    margin: 15px 0;
}
.button.button-fill.btn-green {
	background-color: #00b279!important;
}
.color-deepblue {
	color:#001b45;
}
.navbar .center a {
	display: inline-block;
}
.navbar .center a img {
	margin-top: 20px;
}
/*===============================================*/
/*                COMMON CSS END                 */
/*===============================================*/

/*===============================================*/
/* 1. HOMEPAGE		 						     */
/*===============================================*/
.overlay {
	position:absolute;
	left:0px;
	right: 0;
	top:0px;
	bottom:0px;
	background: rgba(0,0,0,0.5);
}

.bg-home {
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bg-home .content-block {
	position: relative;
	color: #FFF;
}

.logo {
	display: block;
	margin: 0 auto 10px auto;
}

.slogan {
	width: 80%;
	margin: 10px auto;
	font-size: 13px;
}

.home-footer {
	position: absolute;
	bottom: 0px;
	left:0px;
	right:0px;
}

.home-footer a {
	display:block;
	text-align: center;
	width: 50%;
	float:left;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF;
}

.ligin-btn {
	background:#01B9FF;
}

.signup-btn {
	background:#D667CD;
}

.close {
	position: absolute;
	top: 20px;
	left: 0px;
	z-index: 1;
}

.close a {
	padding:20px;
}
/*===============================================*/
/*          LETS START PAGE CSS START            */
/*===============================================*/
.lets-start-form {
}
.lets-start-form .item-input input[type="text"],
.lets-start-form .item-input input[type="tel"],
.lets-start-form .item-input input[type="email"] {
    background-color: #ffffff;
    padding: 5px 10px;
}
.lets-start-form .label-checkbox {
}
.lets-start-form .label-checkbox .item-media {
	align-self: center;
    min-height: 18px;
    min-width: 18px;
}
.lets-start-form .label-checkbox .item-inner {
	font-size: 13px;
    line-height: 28px;
    text-align: left;
}
.lets-start-form .label-checkbox .item-inner .item-title {
}
/*===============================================*/
/*           LETS START PAGE CSS END             */
/*===============================================*/

/*===============================================*/
/* 2. LOGIN & REGISTRE & REMEMBER PASSWORD       */
/*===============================================*/

.login-page .list-block ul::before,
.comment-form .list-block ul::before {
    background-color: transparent;
}

.login-page .layout-dark .list-block ul::before
.comment-form .layout-dark .list-block ul::before {
	background-color: transparent;
}

.login-page .list-block .item-inner {
	padding-right: 0px;
}
.login-page .list-block .item-content {
	padding-left: 0px;
}
.login-page .content-block {
	padding-left: 0px;
	padding-right: 0px;
}
.login-page .item-input input,
.login-page .item-input textarea {
	padding-left: 16px;
}
.login-page .help-input {
	margin-right: 10px;
}

.remember-password {
	width: 80%;
	margin: 0px auto 0px auto!important;
}

/*===============================================*/
/* 3. GALLERY					                 */
/*===============================================*/
.ul.photo_gallery_3{
width: 100%;
list-style: outside none none;
padding: 0px;
margin: 10px 0px 20px;
float: left;
clear: both;
}
ul.photo_gallery_3{
margin:0px;
padding:0px;
}
ul.photo_gallery_3 li{
width: 31%;
padding: 0px;
float: left;
margin: 1%;
list-style:none;
}
ul.photo_gallery_3 li img{
margin: 0px!important;
max-width:100%;
height:auto;
}

/*===============================================*/
/* 4. BLOG                                       */
/*===============================================*/
.ks-facebook-card {
	margin-bottom: 20px;
}
.ks-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.ks-facebook-card .ks-facebook-avatar {
  float: left;
}
.ks-facebook-card .ks-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.ks-facebook-card .ks-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.ks-facebook-card .card-content {
  font-size: 13px;
}

.ks-facebook-card .blog-title{
	margin-top: 10px;
}

.ks-facebook-card .blog-title a{
	color: #333;
}
.ks-facebook-card .card-footer {
  background: #fafafa;
}
.ks-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.ks-facebook-card .card-content img {
  display: block;
}
.ks-facebook-card .card-content-inner {
  padding: 15px 10px;
}

.ks-facebook-avatar img {
	border-radius: 100%;
}

.ks-facebook-card .content-block {
	padding-bottom: 10px;
}
.blog-footer a {
	color: #999;
	display: inline-block;
	padding-left: 20px;
}

.blog-footer a:first-child {
	padding-left: 0px;
}

.share-post-icon i:before {
	font-size: 24px;
}

.share-post-facebook i{
	color: #3b5998;
}

.share-post-twitter i{
	color: #55acee;
}

.share-post-whatsapp i{
	color: #4dc247;
}

/*===============================================*/
/* 5. COMMENT                                    */
/*===============================================*/
.comment-list .item-text {
	margin:0px;
}
.comment-list img{
	border-radius: 100%;
}
.comment-list.list-block li.media-item .item-inner, .comment-list.list-block.media-list .item-inner {
	padding-top: 0px!important;
}
.comment-list.list-block li.media-item .item-inner, .comment-list.list-block.media-list .item-inner{
	padding-top: 5px!important;
	padding-bottom: 10px!important;
}
.comment-form.picker-modal {
	height: 290px;
}
.comment-form .list-block input,
.comment-form .list-block textarea {
	font-size: 14px;
}

/*===============================================*/
/* 6. CONTACT                                    */
/*===============================================*/

.adress {
	color: #999;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
}
.adress span {
	font-weight: bold;
}

/*===============================================*/
/* 7. USERLIST                                   */
/*===============================================*/

.user-list .item-text {
	margin:0px;
}
.user-list.list-block li.media-item .item-inner, .user-list.list-block.media-list .item-inner {
	padding-top: 0px!important;
}
.user-list.list-block li.media-item .item-inner, .user-list.list-block.media-list .item-inner{
	padding-top: 5px!important;
	padding-bottom: 10px!important;
}
.user-list .item-media img {
	border-radius: 100%;
}

/*===============================================*/
/* 8. RIGHT PANEL                                */
/*===============================================*/

.recent-articles .item-text {
	margin:0px;
}
.recent-articles.list-block li.media-item .item-inner, .recent-articles.list-block.media-list .item-inner {
	padding-top: 0px!important;
}
.recent-articles.list-block li.media-item .item-inner, .recent-articles.list-block.media-list .item-inner{
	padding-top: 5px!important;
	padding-bottom: 10px!important;
}







.pages .page .navbar {
	background-color: #ffffff;
}
.tabbar {
	background-color: #001b45 !important;
}
.tabbar .tab-link {
	background-color: #001b45;
    border: 1px solid #000000;
    font-size: 13px !important;
}
.tabbar .tab-link.active {
	background-color: #00b279;
}
.page-content.tab {
    background-color: #f1f1f1;
}
.page-content.tab .list-block {
	margin-left: 0;
    margin-right: 0;
}
.page-content.tab .list-block ul {
	background-color: #ffffff;
}
.page-content.tab .list-block ul li {
    border-bottom: 1px dashed #cccccc;
}
.page-content.tab .list-block ul li:last-child {
    border-bottom: none;
}
.page-content.tab .list-block ul li .item-link {
	color: #001b45;
}
.page-content.tab .list-block ul li .item-link i {
	margin-right: 5px;
}





/*---- LIVE HRLP PAGE CSS START ----*/
.live-help-container {
	background-color: #ffffff;
    padding: 15px 5%;
    text-align: center;
    width: 90%;
}
.live-help-container .live-help-btn-title {
	color: #001b45;
    font-size: 22px;
    line-height: 26px;
    margin: 60px 0 15px;
}
.live-help-container .live-help-title {
    color: #ff0000;
    font-size: 20px;
    line-height: 24px;
    margin: 15px 0;
}
.live-help-container .icon-live-help {
	display: inline-block;
    margin: 15px 0 95px 0;
}
.live-help-container .icon-live-help img {
	display: inline-block;
}
/*---- LIVE HRLP PAGE CSS END ----*/

/*---- REQUIREMENT PAGE CSS START ----*/
.requirement-container {
	background-color: #ffffff;
    padding: 15px 5%;
    text-align: center;
    width: 90%;
}
.requirement-container .requirement-title {
	color: #001b45;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0;
	text-transform: uppercase;
}
.requirement-container .icon-record {
	display: inline-block;
}
.requirement-container .icon-record img {
	
}
.requirement-container .record-time {
	color: #cacaca;
    font-size: 16px;
    margin: 3px 0 15px;	
}
.requirement-container .req-devider {
	background: url("../img/line-dashed-img@1x.png") repeat-x scroll 0 50%;
}
.requirement-container .req-devider p {
	background-color: #00b279;
    color: #ffffff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    padding: 5px 15px;
	margin: 0;
}
.requirement-container .item-input {
}
.requirement-container .item-input::after {
	background-color: transparent;
}
.requirement-container .item-input textarea {
	background-color: #f1f1f1;
    border: 1px solid #cccccc;
    height: 60px;
    padding: 2%;
    resize: none;
    width: 95%;
}
/*---- REQUIREMENT PAGE CSS END ----*/

.listen-container {
	background-color: #ffffff;
    padding: 15px 5%;
    text-align: center;
    width: 90%;
}
.listen-container .listen-title {
	color: #001b45;
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0;
	text-transform: uppercase;
}
.listen-container .play-listen-icon {
	display: inline-block;
}
.listen-container .play-listen-icon img {	
}


.req-thankyou-container {
	background-color: #ffffff;
    padding: 15px 5%;
    text-align: center;
    width: 90%;
}
.req-thankyou-container .req-thankyou-msg {
	background-color: #f4fdfa;
    border: 1px solid #00b279;
    border-radius: 4px;
    color: #00b279;
    font-size: 13px;
    line-height: 18px;
    margin: 100px 0;
    padding: 10px;
}


.activity-container {
	background-color: #f1f1f1;
    height: 100%;
    padding-top: 56px;
    position: relative;
}
.activity-container .content-block {
	height: 100%;
}
.activity-container .content-block .list-block {
	margin: 15px 0;
	height: 100%;
}
.activity-container .content-block .list-block ul {
   
}
.activity-container .content-block .list-block ul li {
	background-color: #ffffff;
	margin-bottom: 2px;
}
.activity-container .content-block .list-block ul li:first-child {
	
}
.activity-container .content-block .list-block ul li:last-child {
	
}
.activity-container .content-block .list-block ul li .item-link {
	padding: 10px;
}
.activity-container .content-block .list-block ul li .item-link .act-icon {
	float: left;
    margin: 0 10px 0 0;
}
.activity-container .content-block .list-block ul li .item-link .act-txt {
	color: #001b45;
    font-size: 11px;
    line-height: 15px;
    margin: 0;	
}
.activity-container .content-block .list-block ul li .item-link .act-icon-play {
	float: left;
    margin: 10px 10px 10px 0;
}


.single-container {
	background-color: #f1f1f1;
    padding-top: 56px!important;
}
.single-container .detail-container {
	margin: 15px!important;
}







.listing-container {
	background-color: #f1f1f1;
    height: 100%;
    padding-top: 56px;
    position: relative;
}
.listing-container .content-block {
	height: 100%;
}
.listing-container .content-block .list-block {
	margin: 15px 0;
	height: 100%;
}
.listing-container .content-block .list-block ul {
   
}
.listing-container .content-block .list-block ul li {
	background-color: #ffffff;
	margin-bottom: 2px;
}
.listing-container .content-block .list-block ul li:first-child {
	
}
.listing-container .content-block .list-block ul li:last-child {	
}
.listing-container .content-block .list-block ul li .item-link {
	padding: 10px;
}
.listing-container .content-block .list-block ul li .item-link .listing-icon {
	float: left;
    margin: 0 10px 0 0;
}
.listing-container .content-block .list-block ul li .item-link .listing-title {
	color: #001b45;
    font-size: 11px;
    line-height: 15px;
    margin: 0 0 5px;
}
.listing-container .content-block .list-block ul li .item-link .listing-txt {
	color: #001b45;
    font-size: 10px;
    height: 24px;
    line-height: 12px;
    margin: 0;
    overflow: hidden;
}





.md-tab {
	background-color: #001b45;
	color:#ffffff!important;
	box-shadow: 0 0 5px #000000 inset;
}
.md-tab.md-active {
    background-color: #00b279;
	color: #ffffff!important;
}


.sidenav {
	margin: 0!important;
    padding: 0!important;
}
.sidenav ul {
}
.sidenav ul li {
	border-bottom: 1px solid #cccccc;
}
.sidenav ul li a {
	color: #000000;
    display: block;
    font-size: 14px;
    padding: 5px;
	cursor: pointer;
}